#denizfeneri1 {
  border: 15px #ffffff solid;
}
body {
  background-color: aqua;
}

a {
  background-color: red;
}

.kus {
  width: 300px;
}
.kus.yeni {
  width: 300px;
  border: 10px double navy;
}
.kus.yeni.resim {
  width: 300px;
  border: 10px solid red;
}
.kus.resim {
  width: 300px;
  border: 20px solid yellow;
}

iframe {
  border: 5px solid burlywood;
  margin: 0 150px 0 100px;
}
